{% extends "principal.html" %}

{% block title %} Koe sj {% endblock %}

{% block content %}

<div>
     <a href="https://www.youtube.com/channel/UCOD8VNNyj1Dv0-tluiYiNkA"><img src="static/css/youtube-logo.png"/></a>
     <buton class='button1'><a href="https://www.youtube.com/channel/UCOD8VNNyj1Dv0-tluiYiNkA">Koe sj</a></buton>
     <br/>
     <br/>
     <br/>
     <a href="https://www.facebook.com/profile.php?id=100086120066745"><img src="static/css/facebook-logo.png"/></a>
     <button class="button1"><a href="https://www.facebook.com/profile.php?id=100086120066745">Koe sj</a></button>
     <br/>
     <br/>
     <a href="https://www.instagram.com/koe_sj_/"><img src="static/css/logo-instagram.jpg"/></a>
     <button class="button1"><a href="https://www.instagram.com/koe_sj_/">Koe sj</a></button>
</div>
 
 

    {% endblock %}