{% extends "principal.html" %}

{% block title %} Koe sj play {% endblock %}

{% block content %}

<div>
     <a href="https://www.youtube.com/channel/UCcpRmlM0SE8SQ4XNM9olbJw"><img src="static/css/youtube-logo.png"/></a>
     <buton class='button1'><a href="https://www.youtube.com/channel/UCcpRmlM0SE8SQ4XNM9olbJw">Koe sj play</a></buton>
     <br/>
     <br/>
     <a href="https://www.amazon.es/s?k=samuel+da+silva+jordan&__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=U2S93Z3QBZKL&sprefix=samuel+da+silva+jordan%2Caps%2C822&ref=nb_sb_noss"><img src="static/css/amazon-logo.jpg"/></a>
     <buton class='button1'><a href="https://www.amazon.es/s?k=samuel+da+silva+jordan&__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=U2S93Z3QBZKL&sprefix=samuel+da+silva+jordan%2Caps%2C822&ref=nb_sb_noss">Libros en amazon</a></buton>
     <br/>
     <br/>
     <a href="https://www.facebook.com/profile.php?id=100086532814978"><img src="static/css/facebook-logo.png"/></a>
     <button class="button1"><a href="https://www.facebook.com/profile.php?id=100086532814978">Koe sj play</a></button>
     <br/>
     <br/>
     <a href="https://www.instagram.com/koe_sj_play/"><img src="static/css/logo-instagram.jpg"/></a>
     <button class="button1"><a href="https://www.instagram.com/koe_sj_play/">Koe sj play</a></button>
</div>
 
 

    {% endblock %}